/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Inter:wght@300;400;600;800&display=swap');

// The Palette
$black: #0f0f0f;      
$white: #ffffff;
$soft-gray: #f8f8f8;  
$medium-gray: #484848;
$vuborange: #FF6600;

// Font Variables
$font-family-serif: "EB Garamond", serif;
$font-family-sans-serif: "Inter", sans-serif;

// Base Quarto/Bootstrap font settings
$body-family: $font-family-serif;
$headings-font-family: $font-family-sans-serif;

$navbar-bg: $vuborange;
$body-bg: #fff5ee;
$navbar-fg: $white;
$headings-color: black;
$link-color: $black;

/*-- scss:rules --*/

// Navigation
.navbar-brand, 
.navbar-title {
  font-family: $font-family-sans-serif !important;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 0.75rem;
}

.nav-link {
  font-family: $font-family-sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  font-weight: 400;
  font-size: 0.75rem;
  position: relative; // Context for the underline
  padding-bottom: 2px;
  margin-left: 5px;
  margin-right: 5px;

  // The Underline Element
  &::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 50%;
    background-color: $white; // Contrast against $black navbar
    transition: width 0.3s ease, left 0.3s ease;
    transform: translateX(-50%);
  }

  // Hover & Active States
  &:hover::after,
  &.active::after {
    width: 70%; // Elegant partial underline
  }
}

// Headings
h1, h2, h3, h4 {
  font-family: $font-family-sans-serif;
  font-weight: 800;
  text-transform: uppercase;
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
}

// Body Text
body {
  font-size: 1.1rem;
  line-height: 1.2;
  color: $medium-gray;
  -webkit-font-smoothing: antialiased;
}

.subtitle {
  font-size: 2.3rem; 
}

